* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-background: #021a0c;
  --color-text: #FFFFF0;
}

body {
  padding-top: 4rem;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}
nav {
  top: 0;
left: 0;
width: 100%;
  align-items: center;
  background-color: var(--color-background);
  padding: 1rem;
  display: flex;
  position: fixed;
}
nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}
nav a {
  color: var(--color-text);
  text-decoration: none;
}